body { margin: 0}
a {	text-decoration: none }
.header .logo a { color: rgb(0,65,111); font-size: 16pt;  }
.navigation { padding: 5px; background:rgb(75,84,105); color: white; font-size: 10.5pt}
.navigation a { color: white; margin: 0 10px;}
.navigation a:hover { color: rgb(208,200,223); }
h1 { color: rgb(0,65,111); font-size: 16pt; padding: 5px 5px }
h3 { font-size: 12pt; padding: 0 10px; }
h1 .writer_info { font-size: 10pt; float:right; }

img { vertical-align: middle }
.sidebar { float: right; width: 180px; padding: 10px; background: rgb(200,200,255) }
.profile { margin: 5px; }
.main { width: 800px; }

.status_new { color: white; margin: 5px; vertical-align:middle; font-size: 11pt; padding: 3px 5px; background-color: #FF881F; border: 1px solid #8F2800}
.issue_content { padding: 10px; border-top: 1px solid #562C1C; border-bottom: 1px solid #562C1C;}
.comment_writer { background: #FFD25E; padding: 10px; font-size: 10pt }
.comment_content { border-bottom: 1px solid #562C1C; margin-bottom: 10px; padding: 10px }



table.edit {width: 100%}
table.edit th {background: #D2F575}
table.edit td {background: #FFFFD1; padding: 5px;}
table.edit td input { width: 80%}