<%!
    def strip_tags(html, invalid_tags):
        from BeautifulSoup import BeautifulSoup, NavigableString
        soup = BeautifulSoup(html)
        for tag in soup.findAll(True):
            if tag.name in invalid_tags:
                s = ""
                for c in tag.contents:
                    if not isinstance(c, NavigableString):
                        c = strip_tags(unicode(c), invalid_tags)
                    s += unicode(c)
                tag.replaceWith(s)
        return soup.text

    def puretext(text):
        invalidTags = ['b', 'i', 'u']
        return strip_tags(text,invalidTags)

    def summary(text):
        limit = 200
        result = text[:min(len(text), limit-3)]
        if len(text) > limit-3: result += "..."
        return result

    def images(text):
        from BeautifulSoup import BeautifulSoup
        soup = BeautifulSoup(text)
        imgs = [str(e) for e in set([img['src'] for img in soup('img')])]
        template = """<img class="issue_image" src='%s' style='width:120px;'>"""
        #return ''.join([template%(e) for e in imgs])
        if len(imgs) > 0 :
        	return template % (imgs[0])
        else : return ""
%>

<%inherit file="/base.html"/>
<%block name="head">
${parent.head()}
<style type="text/css">
table {border-collapse: collapse; width: 100%}
table td { }
table th { text-align: left; }
.issue_title a {
    font-family: "NanumGothic", "나눔고딕";
    font-size: 30px;
    font-weight:bold;
    background-color: transparent;
    color: #000000;
    border: 1px solid #cccccc;
}

.issue_image {
    max-width: 120px;
    max-height: 150px;
    overflow: hidden;
    border: 1px solid #cccccc;
}

.issue_info {
    font-family: "NanumGothic", "나눔고딕";
    font-size: 14px;
    font-weight:bold;
    background-color: transparent;
    color: #000000;
    text-align: right;
    border: 1px solid #cccccc;
}

.issue_info ul {
    list-style: none;
    padding: 8px;
    margin: 4px;
    border: 1px solid #cccccc;
}

</style>
</%block>
% if 'tag' in request.GET:
    <div>태그 : ${request.GET['tag']}</div>
% endif

% for issue in objects:
    <h1 class="title" style="border-bottom: none;">
    	<a href="/issues/${issue.id}">${issue.title}</a>
    </h1>
    <div style="float:left; margin:0 10px">${issue.content|images}</div>
    <div class="issue_content" style="padding-bottom: 20px">${issue.content|puretext,summary}</div>
    <div style="float:right; margin-top: 7px; margin-right: 20px; ">
        <span class="writer_info">${issue.writer}</span><span class="date">${issue.updated}</span>
    </div>
    <div class="issue_tags" style="padding: 5px 10px; border-bottom: 1px dotted rgb(75,84,105);">
    태그:
    % for tag in issue.tags.all():
        <a href="/issues?tag=${tag.name}">${tag.name}</a>
    % endfor
    </div>
% endfor
