<%inherit file="/base.html"/>
<%block name="head">
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	CKEDITOR.replace( 'issue_content', {} )
})
</script>
</%block>
<h1>새로운 이슈 올리기</h1>
<form action="/issues/_/create" method="post">
<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
<table class="edit">
<tbody>
	<tr>
		<th style="width: 60px"><label for="issue_title">제목</label></th>
		<td><input id="issue_title" type="text" name="title"></td>
	</tr>
	<tr>
		<th><label for="issue_content">내용</label></th>
		<td><textarea id="issue_content" name="content" style="width: 100%; height: 300px;"></textarea></td>
	</tr>
	<tr>
		<th><label for="issue_tags">태그</label></th>
		<td><input id="issue_tags" name="tags" type="text"></td>
	</tr>
	
</tbody>
</table>
<fieldset>
	<input type="submit" value="등록">
</fieldset>
</form>
