<%inherit file="/base.html"/>
<%block name="head">
<script type="text/javascript" src="/static/jquery/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	CKEDITOR.replace( 'editor', { extraPlugins: 'tabindent'} )
})
</script>
</%block>
<h1>새로운 이슈 올리기</h1>
<form action="/issues/_/create" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
	제목
	<input type="text" name="title">
	내용
	<textarea id="editor" name="content" style="width: 100%; height: 300px;"></textarea>
	<input type="submit" value="등록">
</form>
