<%inherit file="/base.html"/>
<%block name="title">${issue.title} - 대한민국 이슈 트래커</%block>
<%block name="head">
<script type="text/javascript" src="/static/underscore-min.js"></script>
<script type="text/javascript" src="/static/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>

<style>
    .s-result {
        color: #777;
        font-size: 11px;
        line-height: 15px;
        padding: 5px
    }

    .r-element {
        list-style: none;
        padding: 0 0 3px;
        background: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 -3px 0 #eee;
        -moz-box-shadow: inset 0 -3px 0 #eee;
        box-shadow: inset 0 -3px 0 #eee;
    }

    .s-element.r-element .s-element-content {
        display: block
    }

    .to-comment {
        border-top: 1px solid #cccccc;
        vertical-align: middle;
        height:30px;
        line-height: 30px;
        text-align:center;
        font-size:13px;
        width:100%;
    }
</style>
<script type="text/javascript">
$(function() {
	CKEDITOR.replace( 'editor', {} );

    voteHandler = function(isAgree) {
        $.ajax({
           type:'POST',
           url:'/votes/_/create',
           data:{issue: ${issue.id}, is_agree: isAgree},
           success: function(msg) {
               if (msg.status == 'ok') {
                   $('#vote-score').text(msg.vote_score);
                   $('#vote-up').unbind('click');
                   $('#vote-down').unbind('click');

                   $('#vote-up').click(function() {
                       destroyHandler(msg.vote_id);
                   });
                   $('#vote-down').click(function() {
                       destroyHandler(msg.vote_id);
                   });
               }
               else {
                   alert('중복 투표 입니다');
               }
           },
           failure: function(msg) {
               alert('fail');
           }
        });
    }

    destroyHandler = function(id) {
        $.ajax({
           type:'POST',
           url:'/votes/'+id+'/destroy',
           success: function(msg) {
               if (msg.status == 'ok') {
                   $('#vote-score').text(msg.vote_score);
                   $('#vote-up').unbind('click');
                   $('#vote-down').unbind('click');

                   $('#vote-up').click(function() {
                       voteHandler(1);
                   });
                   $('#vote-down').click(function() {
                       voteHandler(0);
                   });
               }
               else {
                   alert('중복 투표 입니다');
               }
           },
           failure: function(msg) {
               alert('fail');
           }
        });
    }

    %if not request.user.is_anonymous():
    $('#vote-up').click(function() {
       % if user_vote == None:
        voteHandler(1);
       % else:
        destroyHandler(${user_vote.id});
       % endif

    });
    $('#vote-down').click(function() {
        % if user_vote == None:
        voteHandler(0);
        % else:
        destroyHandler(${user_vote.id});
        %endif
    });
    %endif
})
</script>
</%block>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=237390709648651";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h1 class="title">
	${issue.title}
</h1>
<div style="text-align: right; margin-top: 10px">
<span style="vertical-align:middle; padding:4px; margin-top:10px; margin-right: 5px; border: 1px solid;"><a href="/issues/${issue.id}/edit">수정</a></span>
</div>
<div>
<table border="0">
    <tr>
        <td style="vertical-align: baseline; text-align: center;">
            <span id="vote-up"><img src="/static/images/vote_up.png"/></span><br/>
            <span id='vote-score' style='font-size:20px;'>${issue.vote_score}</span><br/>
            <span id="vote-down"><img src="/static/images/vote_down.png"/></span><br/>
        </td>
        <td style="vertical-align: baseline;"><div class="issue_content">${issue.content}</div></td>
    </tr>
</table>
</div>
<div style="text-align:right; margin: 10px;">
    ${self.helper.avatar(issue.writer, 32)}<span class="writer_info">${issue.writer}</span><span class="date">${issue.updated}</span> &nbsp; <a href="/issues/${issue.id}/histories">변경기록</a><br/>
</div>
<h4 class="title issue_tags">태그</h4>
<ul class="issue_tags">
% for tag in issue.tags.all():
    <li><a href="/issues?tag=${tag.name}">${tag.name}</a></li>
% endfor
</ul>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
<div style="border-top: 1px dotted; border-bottom: 1px dotted; margin-top: 10px; vertical-align: bottom;">
    <div style="float: left; margin-top: 6px;">
       <a href="https://twitter.com/share" class="twitter-share-button" data-text="${issue.title}">Tweet</a>
    </div>
    <div class="fb-like" data-send="true" data-width="650" data-show-faces="fales" style="margin-top: 4px;"></div>
</div>
<div style="margin-top: 10px; text-align: center;">
	<a href="/issues/">목록보기</a>
</div>
<h3 class="title">댓글</h3>
% for comment in issue.comment_set.order_by('updated'):
<div style="padding: 0px 10px 10px 10px; border-bottom: 1px dotted rgb(75,84,105)">
    <a href="#c-${comment.id}">#</a> ${self.helper.avatar(comment.writer, 32)}
    <span class="writer_info">${comment.writer.username}</span>
    <span class="date" style="float:right">${comment.updated}</span>
</div>
<div class="comment_content">${comment.content}</div>
% endfor
% if request.user.is_authenticated():
    <form action="/comments/_/create" method="post">
    <div>
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
        <input type="hidden" name="issue" value="${issue.id}">
        <textarea id="editor" name="content" style="width: 100%; height: 100px"></textarea>
        <input type="submit" value="댓글 쓰기">
    </div>
    </form>
% else:
    <div style="padding: 20px; text-align: center;"><a href="/accounts/login?next=${request.get_full_path()}">댓글 쓰기</a></div>
% endif

<%block name="sidebar_content">
<div class="sidebar_issue">
    <h5 style="margin-top: 10px">태그 연관 이슈</h5>
    <ul class="sidebar_issue">
        % for tag in issue.tags.all():
        <li class="sidebar_issue" style="margin-top: 6px;"><a style="font-size: 9pt;" href="/issues?tag=${tag.name}">${tag.name}</a></li>
        % for aIssue in tag.issue_set.all():
        % if issue.id != aIssue.id:
        <li style="margin-left: 10px;"><a href="/issues/${aIssue.id}" class="short">${aIssue.title}</a></li>
        % endif
        % endfor
        % endfor
    </ul>
    <div id="cell-items"></div>
<script language="javascript">
    cellList = [];
    recentIdx = 0;

    $.ajax({
        url: '/historic/_/scrap',
        data: ({keyword: '${"".join([e.name for e in issue.tags.all()])}'} ),
        success: function(msgs) {
            for (var idx in msgs) {
                var msg = msgs[idx];
                cellList.push(msg);
                msg.id = recentIdx; recentIdx++;
                var templateCell = _.template($('#item-template').html());
                $("#cell-items").append(templateCell(msg));
            }
            $('.to-comment').click(function() {
                for (idx in cellList) {
                    msg = cellList[idx];
                    if (msg.id == this.id) {
                        var editor = CKEDITOR.instances.editor;
                        var templateCell = _.template($('#comment-item-template').html());
                        editor.insertHtml( templateCell(msg));
                        $.scrollTo($('#cke_editor'), 0)
                        editor.focus();
                        return;
                    }
                }
            });
        },
        failure: function(msg) {
            alert(msg);
        }
    });
</script>

</div>
</%block>

<%text>
<script type="text/template" id="item-template">
    <div>
    <li class="r-element">
        <div class="s-default s-result s-element-content">
            <div>
                <a href="<%= url %>" target="_blank">
                    <div style="font-size:13px;"><%=id %>. <%= title %></div>
                </a>

                <div class="s-default-description"><%= summary %></div>
            </div>
            <div class="s-attribution">
                <div class="s-source"><a href="<%= url %>" target="_blank"><img src="http://g.etfv.co/<%= url %>" style="max-width: 16px" border="0"><span class="s-author-name"><%= site_url %></span></a></div>
            </div>
        </div>
        <div class="to-comment" id="<%= id %>">to comment</div>
        <div class="s-clear"></div>
    </li>
    </div>
</script>
<script type="text/template" id="comment-item-template">
<div>
from <a href="<%= url %>"><img src="http://g.etfv.co/<%= url %>" style="max-width: 16px" border="0"> <%= title %></a><br/>
<%= summary %>
</div>
</br>
</script>
</%text>