<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%block name="title"/></title>
<script type="text/javascript" src="/static/jquery/jquery-1.5.2.min.js"></script>
<link rel="shortcut icon" href="/static/images/forget_me_not.png" />
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<%block name="head"/>
<%!
import md5
from issue.models import Issue
issue_count = Issue.objects.count()
resolved_count = Issue.objects.filter(status='resolved').count()
%>
<%namespace name="helper" file="/commons.html" inheritable="True"/>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26676945-1']);
  _gaq.push(['_setDomainName', 'issuetrac.kr']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<div style="margin: 0 auto; width: 1000px">
		<div class="header" style="overfloat: hidden">
			<div class="logo" style="">
				<a href="/" style="height: 40px; line-height: 40px; padding: 10px 0"><img
					src="/static/images/forget_me_not.png" alt="forget me not"
					style="vertical-align: bottom; width: 40px; margin: 5px;"><span>대한민국
						이슈 트래커</span> </a>
			</div>
		</div>
		
		<div class="navigation" style="">
			<a href="/issues">전체</a>
			<a href="/tags">태그</a>
			<a href="/badges">배지</a>
			<a href="/users">사용자</a>
		</div>

		<div class="sidebar">
			<div class="profile">
				% if request.user.is_authenticated():
					<img src="http://gravatar.com/avatar/${md5.new(request.user.email).hexdigest()}?s=50">
					<a href="/accounts/${request.user.id}" style="margin-left: 5px">${request.user.username}</a>
					<a href="/accounts/logout?next=/issues" style="margin-left:5px;">Logout</a>
				% else:
					<a href="/accounts/login?next=/issues" style="margin-left: 5px">Login</a>
				% endif
			</div>

            <%block name="sidebar_content">
			<div class="buttons" style="text-align: center; margin-top: 20px;">
				<a href="/issues/_/new" style="padding: 10px 43px; background: url(/static/images/button_bg.png) center center no-repeat"><img src="/static/images/edit_icon.png" style="width: 16px; vertical-align: middle">이슈 올리기</a>
			</div>
			<div class="status" style="margin-top: 20px; text-align: center;">
				전체 이슈 : ${issue_count}
				<br>
				해결된 이슈  : ${resolved_count}
			</div>
			<div>
				<h5>투표 중</h5>
				투표 중인 이슈 없음.
			</div>
            </%block>
			<div>
				<h5>powered by <a href="http://ecolemo.com"><img style="width: 100px; vertical-align: bottom;" src="/static/images/ecolemo_logo.png"></a></h5>
				
			</div>
		</div>
		<div class="main">
			${self.body()}
		</div>
        <div class="footer">
                <hr>
                <p>© ecolemo.com 2011</p>
        </div>
	</div>
</body>
</html>