<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%block name="title"/></title>
<script type="text/javascript" src="/static/jquery/jquery-1.5.2.min.js"></script>
<link rel="shortcut icon" href="/static/images/forget_me_not.png" />
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<%block name="head"/>
<%!
import md5
%>
</head>
<body>
	<div style="margin: 0 auto; width: 1000px">
		<div class="header" style="overfloat: hidden">
			<div class="profile" style="float: right; ">
				<a href="/accounts/login">login</a>
			</div>
			<div class="logo" style="">
				<a href="/" style="height: 40px; line-height: 40px; padding: 10px 0"><img
					src="/static/images/forget_me_not.png" alt="forget me not"
					style="vertical-align: bottom; width: 40px; margin: 5px;"><span>대한민국
						이슈 트래커</span> </a>
			</div>
		</div>
		
		<div class="navigation" style="">
			<a href="/issues">전체</a>
			<a href="/tags">태그</a>
			<a href="/badges">배지</a>
			<a href="/users">사용자</a>
		</div>

		<div class="sidebar">
			<div class="profile">
				% if request.user.is_authenticated():
					<img src="http://gravatar.com/avatar/${md5.new(request.user.email).hexdigest()}?s=50">
					<a href="/accounts/${request.user.id}" style="margin-left: 5px">${request.user}</a>
				% endif
			</div>
			<div class="buttons">
				<a href="/issues/_/new" ><img src="/static/images/edit_icon.png" style="width: 16px; vertical-align: middle">이슈 올리기</a>
			</div>
		</div>
		<div class="main">
			${self.body()}
		</div>
	</div>
</body>
</html>